<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Resepti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <p><a href="/smoothiet">Smoothiet</a> <a href="/raaka-aineet">Raaka-aineet</a></p>
        <h1><span th:text="${smoothie.nimi}">nimi</span></h1>
        <ol>
            <li th:each="aine: ${ainesosat}">
               <span th:text="${aine.nimi}">aine</span><span th:if="${aine.maara} != ''" th:text="', ' + ${aine.maara}">maara
               </span><span th:if="${aine.ohje} != ''" th:text="', ' + ${aine.ohje}">ohje
               </span> <form method="POST" th:action="@{~/smoothiet/{aid}/poista/{rid}(aid=${aine.annos_id}, rid=${aine.raakaAine_id})}">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ol>
        
        <h2>Lisää smoothieen uusi ainesosa</h2>

        <form method="POST" th:action="@{~/smoothiet/{id}(id=${smoothie.id})}">
            Raaka-aine: <select name="aine">
                <option th:each="aine: ${aineet}" th:value="${aine.id}" th:text="${aine.nimi}">
                    aine
                </option>
            </select><br />
            Määrä: <input type="text" name="maara"/><br/>
            Ohje: <input type="text" name="ohje"/><br/><br />
            <input type="submit" value="Lisää"/>
        </form>
        
    </body>
</html>
